@{
    ViewBag.Title = "XacNhanHuyTour";
}


<body>
    <div class="container mt-5">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Yêu cầu hủy tour đã được gửi đi!</h4>
            <p>Yêu cầu hủy tour của bạn đã được gửi thành công. Chúng tôi sẽ xem xét và thông báo cho bạn trong thời gian sớm nhất.</p>
            <hr>
        <div class="text-center mt-4">
            <a href="@Url.Action("LichSuDatTour", "TaiKhoan")" class="btn btn-primary">Quay về trang chủ</a>
        </div>
    </div>
</body>
