@model IEnumerable<QuanLy_TourDuLich.Models.sp_HthiNhaHangTheoTinhResult>

@{
    ViewBag.Title = "HthiNhahangTheoTinh";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Danh Sách Nhà Hàng Theo Tỉnh</h2>

<table class="table">
    <tr>
        <th>Tên Nhà Hàng</th>
        <th>Hành Động</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>

            <td>
                <!-- Form sửa -->
                <form action="~/Quanli/SuaNhaHang" method="post" style="display:inline;">
                    <input type="hidden" name="NhaHang_id" value="@item.NhaHang_id" />
                    <button type="submit" class="btn btn-warning">Sửa</button>
                </form>
                <!-- Form xóa -->
                <form action="~/Quanli/XoaNhaHang" method="post" style="display:inline;">
                    <input type="hidden" name="NhaHang_id" value="@item.NhaHang_id" />
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
    }
</table>
