@model IEnumerable<QuanLy_TourDuLich.Models.sp_HthiNhaHangTheoTinhResult>

@{
    ViewBag.Title = "HthiNhahangTheoTinh";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Danh Sách Nhà Hàng Theo Tỉnh</h2>

>
<table class="table">
    <tr>
        <th>
           <p>Tên Nhà Hàng</p>
        </th>
        <th>
          <p>Mã Nhà Hàng</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhaHang_id)
        </td>
      
    </tr>
}

</table>
