@model IEnumerable<QuanLy_TourDuLich.Models.KhachSan>
@using QuanLy_TourDuLich.Models;
@{
    ViewBag.Title = "Khachsan";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Danh Sách Khách Sạn</h2>


<table class="table">
    <tr>
        <th>
            <p>Tên Khách Sạn</p>
        </th>
        <th>
            <p>Mã Tỉnh Thành Của Khách Sạn</p>
        </th>
        <th>
            <p>Tình Trạng</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhThanh_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinhtrang)
            </td>
        </tr>
    }

</table>
