@model IEnumerable<QuanLy_TourDuLich.Models.NhaHang>
@using QuanLy_TourDuLich.Models;
@*@model List<NhaHang>*@
@{
    ViewBag.Title = "Nhahang";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Danh Sách Nhà hang</h2>


<table class="table">
    <tr>
        <th>
           <p>Ten Nha Hang</p>
        </th>
        <th>
            <p>Ma Tinh Thanh</p>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhThanh_id)
        </td>
    </tr>
}
</table>
