
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Đăng Nhập</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            padding: 20px;
        }

        .form-container {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .form-container h2 {
                text-align: center;
                color: #333;
            }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
        }

        input[type="text"], input[type="email"], input[type="password"], input[type="tel"], select {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            input[type="submit"]:hover {
                background-color: #45a049;
            }

        .form-footer {
            text-align: center;
            margin-top: 10px;
            font-size: 14px;
        }
    </style>
    <style>
        body {
            background-image: url('../../img/bgdangky.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>
<body>

    <div class="form-container" style="margin-top: 200px">
        <h2>Đăng Nhập Cho Nhân Viên</h2>
        <form action="#" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Nhập địa chỉ email">
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required placeholder="Nhập mật khẩu">
            </div>
            <input type="submit" value="Đăng Nhập">
        </form>

        @*<div class="form-footer">
            <p>Bạn chưa có tài khoản? <a href="/Taikhoan/Dangky">Đăng Ký</a></p>
        </div>*@
    </div>

</body>


</html>
